<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyou.item.mapper.BrandMapper">
    <resultMap id="Brand" type="com.leyou.item.pojo.Brand">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="image" property="image"/>
        <result column="letter" property="letter"/>
    </resultMap>

    <select id="filterItems" resultMap="Brand" parameterType="list">
        <![CDATA[
            select b.id id,
               b.name name,
               b.image image,
               b.letter letter
               from tb_brand b
               where letter like %#{key}%
               limit #{page} , #{rows}

                <if test="sortBy != null">
                order by #{sortBy}
                 <choose>
                 <when test='desc=="true"'>
                    asc
                 </when>
                 <otherwise>
                    ${desc}
                 </otherwise>
                 </choose>
        ]]>
    </select>
</mapper>