<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyou.item.mapper.CategoryMapper">
    <resultMap id="Category" type="com.leyou.item.model.Category">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parentId" property="parentId"/>
        <result column="isParent" property="isParent"/>
        <result column="sort" property="sort"/>
    </resultMap>
    <select id="select" resultMap="Category">
        SELECT * FROM tb_category
    </select>
</mapper>